@import "../../styles/variables";
@import "../../styles/mixins";

.stats {
    background: #3172D5;
    width: 100%;
    padding: 90px 0;
    @include respondMax("mobile") {
        padding: 60px 0;
    }

    .stats-wrapper {
        display: flex;
        color: $col-white;
        width: 65%;
        margin: 0 auto;
        justify-content: space-between;
        @include respondMax("sm-desktop") {
            width: 80%;
        }
        @include respondMax("mobile") {
            flex-direction: column;
        }

        div {
            @include respondMax("mobile") {
                padding: 10px 0;
            }

            p {
                text-align: center;
    
                &:nth-child(1) {
                    font-size: 40px;
                    font-weight: 700;
                    @include respondMax("mobile") {
                        font-size: 30px;
                    }
                }
                &:last-child {
                    font-size: 18px;
                }
            }
        }
    }
}

