@import "../../styles/variables";
@import "../../styles/mixins";

.profile-pic {
    border-radius: 50%;
    font-size: 20px;
    background: $col-primary;
    color: #fff;
    @include center(40px, 40px);
}