@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    // background-size: cover;
    font-family: 'Open Sans', sans-serif;
    // background-repeat: no-repeat;
}
