@import "../../styles/variables";
@import "../../styles/mixins";

.login {
    width: 85%;
    margin: 0 auto;
    &_wrapper{
        display: flex;
        justify-content: space-between;
        color: $col-primary;
        &_image {
            display: flex;
            height: 100vh;
            align-items: center;
            img {
                width: 450px;
            }
        }
        .formwrapper {
            &_top {
                display: flex;
                justify-content: flex-end;
                margin-top: 25px;

                &_p {
                    margin: auto 8px;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
            &_wrapper {
                @include center(90vh, 90vh);
                &_form {                   
                    width: 65%;
                    h2 {
                        font-size: 30px;
                    }
                    &_p {
                        font-size: 14px;
                        margin: 10px 0;
                    }

                    &_input {
                        display: flex;
                        flex-direction: column;
                        margin: 10px 0;

                        label {
                            font-size: 14px;
                            color: #989daa;
                        }
                        input {
                            margin:5px 0;
                            height: 35px;
                            background: #F4F6FF;
                            border: none;
                            text-indent: 1rem;
                            border-radius: 3px;
                        }
                        input:focus {
                            outline: 2px solid #BBC9DE;
                        }
                    }
                    .password {
                        position: relative;

                        .shown-password {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 10%;
                            font-size: 1.5rem;
                            height: 100%;
                            cursor: pointer;
                            color: rgb(179, 179, 179);
                            background-color: transparent;
                            border: none;
                            transition: .5s all ease;
                            transform: translateY(-10%);
                        }
                        
                        .shown-password:hover {
                            color: rgb(148, 148, 148);
                        }
                    }
                    &_forgot {
                        display: flex;
                        justify-content: flex-end;
                        font-size: 14px;
                        font-weight: 700;
                        cursor: pointer;
                    }
                    &_btn {
                        width: 100%;
                        height: 40px;
                        border-radius: 5px;
                        background: $col-secondary;
                        color: $col-white;
                        border: none;
                        margin: 20px 0;
                        cursor: pointer;

                        &:hover {
                            background-color: #7cadf7;
                        }
                    }
                    &_alternative {
                        font-weight: 600;
                        &_p {
                            text-align: center;
                            color: #989daa;
                            margin: 10px auto;
                            font-size: 14px;
                        }
                        &_signin {
                            display: flex;
                            width: 90%;
                            margin: 0 auto;
                            justify-content: space-between;
    
                            &_google, &_facebook {
                                display: flex;
                                align-items: center;
                                background: #f8f9ff;
                                padding: 10px 30px;
                                cursor: pointer;
                                border-radius: 5px;
                                font-size: 14px;

                                &:hover {
                                    background: #d6d8e0;
                                }
                                .icon {
                                    margin-right: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}