@import "../../styles/variables";
@import "../../styles/mixins";

.doctors-container {
    margin: 60px auto;
    width: 75%;
    transition-duration: 2s;
    
    @include respondMax("sm-desktop") {
        width: 85%;
    }
    @include respondMax("tablet") {
        width: 95%;
    }
    
    @include respondMax("mobile") {
        width: 85%;
    }

    .title {
        color: $col-red;
        font-weight: 700;
        text-align: center;
    }
    .meet {
        text-align: center;
        font-size: 27px;
        @include respondMax("mobile") {
            font-size: 23px;
        }
        font-family: 'Roboto Slab', serif;
        font-weight: 600;
        color: $col-primary;
        letter-spacing: 2px;
        margin: 7px 0;
    }
    .doctors {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 50px auto;
        
        @include respondMax("mobile") {
            flex-direction: column;
            justify-content: center;
        }
    }
}