
.doctors-container {
    margin: 60px auto;

    .title {
        color: #fe5252;
        font-weight: 700;
        text-align: center;
    }
    .meet {
        text-align: center;
        font-size: 27px;
        font-family: 'Roboto Slab', serif;
        font-weight: 600;
        color: #1f3e72;
        letter-spacing: 2px;
        margin: 7px 0;
    }
}