@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: #2379f9;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        background-color: #7cadf7;
    }
}