@import "../../styles/mixins";

.blurry {
    position: absolute;
    width: 25rem;
    height: 32rem;
    border-radius: 50%;
    background: #faf7e9;
    filter: blur(120px);
    @include respondMax("tablet") {
        width: 3rem;
        height: 6rem;
    }
}
.home {
    .nav-hero {
        background-image: linear-gradient(to left, #fff 0%, #f1f8fb 100%);
        height: 100%;
    }
}