@import "../../styles/variables";
@import "../../styles/mixins";

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    color: $col-secondary;
    font-size: 21px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    cursor: pointer;

    .logo-icon {
        margin-right: 5px;
    }
}