@import "../../styles/variables";
@import "../../styles/mixins";

.chat {
    flex: 2;
    background: #fbfbfb;

    .chatInfo {
        height: 10vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: #000;
        box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
        border-bottom: 1px solid rgb(192, 189, 189);

        .chatInfo_username {
            text-transform: capitalize;
            font-weight: 600;
            // color: $col-primary;
        }
        .logo {
            font-size: 11px;
        }
    }

    .no-chat {
        @include center(100%, 90vh);

        img {
            width: 200px;
            @include respondMax("mobile") {
                width: 150px;
            }
        }
        p {
            font-size: 25px;
            margin: 10px auto;
            text-align: center;
            @include respondMax("mobile") {
                font-size: 20px;
            }
        }
    }
}