@import "../../styles/variables";
@import "../../styles/mixins";

.section-container {
    display: flex;
    width: 65%;
    justify-content: space-between; 
    margin: 0 auto;
    padding: 35px 0;
    
    @include respondMax("tablet") {
        width: 90%;
        padding: 15px 0;
    }
    @include respondMax("mobile") {
        flex-direction: column-reverse;
        width: 90%;
        padding: 10px 0 50px;
    }
    .pic {
        max-width: 500px;
        height: 400px;
        object-fit: contain;
        mix-blend-mode: color-burn;
        @include respondMax("tablet") {
            width: 330px;
        }
        @include respondMax("mobile") {
            width: 300px;
            height: 300px;
            margin: 8px auto;
        }
    }
    .content {
        width: 44%;
        height: 100%;
        margin: auto 0;
        @include respondMax("mobile") {
            width: 100%;
        }

        .topic {
            color: $col-red;
            font-weight: 700;
        }
        .headline {
            font-size: 25px;
            font-family: 'Roboto Slab', serif;
            font-weight: 600;
            color: $col-primary;
            letter-spacing: 2px;
            margin: 7px 0;
        }
        .info {
            font-size: 15px;
            color: $col-primary;
            margin: 20px 0;
        }
    }
}
.section-container:nth-of-type(even) {
    direction: rtl;

    @include respondMax("mobile") {
        direction: ltr;
        }
}