@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.section-container {
    display: flex;
    width: 65%;
    justify-content: space-between; 
    margin: 0 auto;
    padding: 35px 0;
    
    @include tab {
        width: 90%;
        padding: 15px 0;
    }
    @include mobile {
        flex-direction: column-reverse;
        width: 90%;
        padding: 10px 0 50px;
    }
    .pic {
        max-width: 500px;
        height: 400px;
        object-fit: contain;
        mix-blend-mode: color-burn;
        @include tab {
            width: 330px;
        }
        @include mobile {
            width: 300px;
            height: 300px;
            margin: 8px auto;
        }
    }
    .content {
        width: 44%;
        height: 100%;
        margin: auto 0;
        @include mobile {
            width: 45%;
        }
        @include mobile {
            width: 100%;
        }

        .topic {
            color: #fe5252;
            font-weight: 700;
        }
        .headline {
            font-size: 25px;
            font-family: 'Roboto Slab', serif;
            font-weight: 600;
            color: #1f3e72;
            letter-spacing: 2px;
            margin: 7px 0;
        }
        .info {
            font-size: 15px;
            color: #838fa5;
            margin: 20px 0;
        }
        button {
            width: 100px;
            height: 40px;
        }
    }
}
.section-container:nth-of-type(even) {
    direction: rtl;

    @include mobile {
        direction: ltr;
        }
}