@import "../../../styles/mixins";

.floaters {
    @include floatersBackground();
    width: 200px;
    height: 47px;
    border-radius: 30px;
    @include respondMax("mobile") {
        width: 185px;
        height: 37px;
        font-size: 13px;
    }
    .floater-one {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center
    }
}
.floater {
    @include floatersBackground();
    width: 200px;
    height: 150px;
    padding: 0px 10px;
    border-radius: 15px;
    @include respondMax("mobile") {
        width: 170px;
        height: 140px;
    }

    .person {
        display: flex;
        align-items: center;
        img {
            width: 38px;
            height: 38px;
            object-fit: contain;
            border-radius: 50%;
            margin-right: 7px;
            @include respondMax("mobile") {
                width: 35px;
                height: 35px;
            }
        }
        p {
            font-size: 13px;
        }
    }
    .review {
        font-size: 13px;
        padding: 5px 0;
        @include respondMax("mobile") {
            font-size: 12px;
            padding: 3px 0;
        }
    }
    .stars {
        display: flex;
        justify-content: center;
    }
}