@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.section-container {
    display: flex;
    width: 70%;
    justify-content: space-between; 
    margin: 0 auto;
    padding: 20px 0;
    
    @include tab {
        width: 95%;
    }
    @include mobile {
        flex-direction: column-reverse;
        width: 90%;
        padding: 10px 0 50px;
    }
    .pic {
        max-width: 430px;
        height: 330px;
        object-fit: cover;
        border-radius: 170px 10px 170px 170px;
        @include tab {
            width: 330px;
            border-radius: 150px 10px 150px 150px;
        }
        @include mobile {
            width: 300px;
            height: 300px;
            margin: 8px auto;
        }
    }
    .content {
        width: 47%;
        height: 100%;
        margin: auto ;
        @include mobile {
            width: 45%;
        }
        @include mobile {
            width: 100%;
        }

        .topic {
            color: #fe5252;
            font-weight: 700;
        }
        .headline {
            font-size: 25px;
            font-family: 'Roboto Slab', serif;
            font-weight: 600;
            color: #1f3e72;
            letter-spacing: 2px;
            margin: 7px 0;
        }
        .info {
            font-size: 15px;
            color: #838fa5;
            margin: 20px 0;
        }
        button {
            width: 100px;
            height: 40px;
        }
    }
}
.hospital {
    @include mobile {
        flex-direction: column;
    }
}