
.navbar {
    // background: #fff;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    
    .navbar-wrapper {
        display: flex;
        width: 90%;
        justify-content: space-between;

        h3 {
            color: #2379f9;
            // display: flex;
            height: 100%;
            margin: auto 0;
            // align-items: center;
            cursor: pointer;
        }

        ul {
            display: flex;
            width: 45%;
            justify-content: space-between;

            li {
                list-style: none;
                font-size: 14px;
                cursor: pointer;
                display: flex;
                height: 100%;
                align-items: center;
            }
        }
        .signup-login {
            display: flex;
            width: 15%;
            justify-content: space-between;

            .signup {
                font-size: 14px;
                font-weight: 600;
                display: flex;
                height: 100%;
                align-items: center;
                cursor: pointer;
            }
            .login-btn {
                width: 100px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 30px;
                color: #fff;
                background: #2379f9;
                cursor: pointer;
            }
        }
    }
}