@import "../../styles/variables";
@import "../../styles/mixins";


.navbar-bg {
    background-color: #fff;
    transition: 0.5s;
}
.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    @include center(100%, 80px);
    
    .navbar-wrapper {
        display: flex;
        width: 90%;
        justify-content: space-between;

        .nav-links, .show-sidebar {
            display: flex;
            width: 80%;
            justify-content: space-between;
            @include respondMax("tablet") {
                @include center(100%, 100vh);
                background: #FFFFFF;
                position: absolute;
                top: 0;
                transition: 0.5s;
                z-index: 0;
            }
            
            ul {
                display: flex;
                width: 55%;
                justify-content: space-between;
                font-weight: 600;
                @include respondMax("tablet") {
                    @include center(55%,35vh);
                }
    
                li {
                    list-style: none;
                    font-size: 14px;
                    cursor: pointer;
                    display: flex;
                    height: 100%;
                    align-items: center;

                    &:hover {
                        color: $col-secondary;
                    }
                }
            }
            .signup-login {
                display: flex;
                width: 20%;
                justify-content: space-between;
                @include respondMax("tablet") {
                    flex-direction: column;
                    width: 100%;
                }
    
                .signup {
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    color: $col-secondary;
                    height: 100%;
                    align-items: center;
                    cursor: pointer;
                    @include respondMax("tablet") {
                        width: 100%;
                        justify-content: center;
                        color: #0d65e9;
                    }
                }
                .user {
                    cursor: default;
                }
                .login-btn-wrapper {
                    @include respondMax("tablet") {
                        margin: 10px auto;
                    }
                }
            }          
        }
        .nav-links {
            left: -100%;
        }
        .show-sidebar {
            left: 0;
        }
        .mobile-icon {
            display: none;
            @include respondMax("tablet") {
                display: block;
                font-size: 20px;
                cursor: pointer;
                transition: transform .1s;
                z-index: 10;
            }
        }
    }
}