@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Pacifico&family=Poppins&display=swap');

@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
input::placeholder {
    color: $col-primary;
}
body {
    font-family: 'Poppins', sans-serif;
}

.spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, $col-secondary);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
    animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
    to {
        transform: rotate(1turn);
    }
}

 .userChat {
     padding: 10px;
     display: flex;
     align-items: center;
     gap: 10px;
    //  color: #000;
     cursor: pointer;

     &:hover {
         background-color: #1766db;
     }

    .userChatInfo {
        span {
             font-size: 18px;
             font-weight: 500;
        }

        p {
             font-size: 14px;
             color: #fff;
        }
    }
 }

.chat-mobile {
    display: none;

    @include respondMax("tablet") {
        display: flex;
    }
}

.chat-desktop {
    display: flex;

    @include respondMax("tablet") {
        display: none;
    }
}
