@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Pacifico&family=Poppins&display=swap');

@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
input::placeholder {
    color: $col-primary;
}
body {
    font-family: 'Poppins', sans-serif;
}

