@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.hero {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    @include tab {
        flex-direction: column;
        padding: 100px 0 70px;
    }

    .hero-content {
    	height: 100%;
        margin: auto 0;
        width: 60%;
        z-index: 1;
        @include tab {
            width: 100%;
        }

        .hero-topic {
            font-size: 37px;
            font-family: 'Roboto Slab', serif;
            line-height: 1.5;
            color: #1f3e72;
            letter-spacing: 2px;
            @include tab {
                font-size: 32px;
            }
            @include mobile {
                font-size: 27px;
            }
        }
        p {
            margin: 10px 0 30px;
        }
        button {
            width: 130px;
            height: 45px;
            @include tab {
                width: 140px;
                font-size: 16px;
            }          
        }
    }
    .hero-pic {
        position: relative;
        .floating-content-one{
            position: absolute;
            z-index: 1;
            top: 15%;
            right: 60%;
            animation: floatone 10s linear infinite;
            @include mobile {
                left: -5%;
            }
            @keyframes floatone {
                0% {
                    transform: translateX(-20px);
                }            
                50% {
                    transform: translateX(20px);
                }           
                100% {
                    transform: translateX(-20px);
                }
            }
        }
        .floating-content-two {
            position: absolute;
            z-index: 1;
            top: 35%;
            right: -2%;
            animation: floatTwo 10s linear infinite;
            @include mobile {
                right: -8%;
            }
            @keyframes floatTwo {
                0% {
                    transform: translateX(20px);
                }            
                50% {
                    transform: translateX(-20px);
                }           
                100% {
                    transform: translateX(20px);
                }
            }
        }
        @include tab {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        @include mobile {
            margin-top: 20px;
        }
        
        .pic {
            width: 500px;
            height: 540px;
            object-fit: contain;
            @include tab {
                width: 400px;
                height: 400px;
            }
            @include mobile {
                width: 330px;
                height: 350px;
            }
        }
        .floating-content-three {
            position: absolute;
            z-index: 1;
            bottom: 0%;
            right: 0%;
            animation: floatThree 10s linear infinite;
            @include mobile {
                bottom: -10%;
            }

            @keyframes floatThree {
                0% {
                    transform: translateY(-20px);
                }
            
                50% {
                    transform: translateY(20px);
                }
            
                100% {
                    transform: translateY(-20px);
                }
            }
        }
    }
}