@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.hero {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    @include tab {
        flex-direction: column;
        padding: 100px 0 70px;
    }

    .hero-content {
    	height: 100%;
        margin: auto 0;
        width: 60%;
        @include tab {
            width: 100%;
        }

        .hero-topic {
            font-size: 37px;
            font-family: 'Roboto Slab', serif;
            line-height: 1.5;
            color: #1f3e72;
            letter-spacing: 2px;
            @include tab {
                font-size: 32px;
            }
            @include mobile {
                font-size: 27px;
            }
        }
        p {
            margin: 10px 0 30px;
        }
        button {
            width: 130px;
            height: 45px;
            @include tab {
                width: 140px;
                font-size: 16px;
            }          
        }
    }
    .hero-pic {
        @include tab {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        
        .pic {
            width: 600px;
            height: 600px;
            @include tab {
                width: 400px;
                height: 400px;
            }
            @include mobile {
                width: 350px;
                height: 350px;
            }
        }
    }
}