@import "../../styles/variables";
@import "../../styles/mixins";

.hero {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    @include respondMax("tablet") {
        flex-direction: column;
        padding: 100px 0 70px;
        overflow-x: hidden;
    }
    @include respondMax("mobile") {
        width: 100%;
    }

    .hero-content {
    	height: 100%;
        margin: auto 0;
        width: 60%;
        z-index: 1;
        @include respondMax("tablet") {
            width: 100%;
        }
        @include respondMax("mobile") {
            width: 90%;
            margin: auto;
        }

        .hero-topic {
            font-size: 37px;
            font-family: 'Roboto Slab', serif;
            line-height: 1.5;
            color: $col-primary;
            letter-spacing: 2px;
            @include respondMax("tablet") {
                font-size: 32px;
            }
            @include respondMax("mobile") {
                font-size: 27px;
            }
        }
        p {
            margin: 10px 0 30px;
        }
    }
    .hero-pic {
        position: relative;
        .floating-content-one{
            position: absolute;
            z-index: 1;
            top: 15%;
            right: 60%;
            animation: floatone 10s linear infinite;
            @include respondMax("mobile") {
                left: -5%;
            }
            @keyframes floatone {
                0% {
                    transform: translateX(-20px);
                }            
                50% {
                    transform: translateX(20px);
                }           
                100% {
                    transform: translateX(-20px);
                }
            }
        }
        .floating-content-two {
            position: absolute;
            z-index: 1;
            top: 35%;
            right: -2%;
            animation: floatTwo 10s linear infinite;
            @include respondMax("lg-tablet") {
                top: 25%;
                right: 10%;
            }
            @include respondMax("mobile") {
                top: 35%;
                right: -8%;
            }
            @keyframes floatTwo {
                0% {
                    transform: translate(20px, 20px);
                }            
                50% {
                    transform: translate(-20px, -20px);
                }           
                100% {
                    transform: translate(20px, 20px);
                }
            }
        }
        @include respondMax("tablet") {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        @include respondMax("mobile") {
            margin-top: 20px;
        }
        
        .pic {
            width: 500px;
            height: 540px;
            object-fit: contain;
            @include respondMax("tablet") {
                width: 400px;
                height: 400px;
            }
            @include respondMax("mobile") {
                width: 330px;
                height: 350px;
            }
        }
        .floating-content-three {
            position: absolute;
            z-index: 1;
            bottom: 0%;
            right: 0%;
            animation: floatThree 10s linear infinite;
            @include respondMax("lg-tablet") {
                right: 10%;
            }
            @include respondMax("mobile") {
                right: 0%;
                bottom: -10%;
            }

            @keyframes floatThree {
                0% {
                    transform: translateY(-20px);
                }
            
                50% {
                    transform: translateY(20px);
                }
            
                100% {
                    transform: translateY(-20px);
                }
            }
        }
    }
}