@import "../../styles/variables";
@import "../../styles/mixins";

.search {
    margin-bottom: 10px;

    .searchForm {
        @include center(100%, 50px);
        input {
            border: 2px solid $col-white;
            background-color: transparent;
            border-radius: 20px;
            color: $col-white;
            outline: none;
            height: 40px;
            width: 80%;
            padding: 0 10px;
            
            &::placeholder {
                color: $col-white;
            }
        }
    }
   
}