@import "../../styles/variables";
@import "../../styles/mixins";

.search {
    margin-bottom: 10px;

    .searchForm {
        display: flex;
        height: 60px;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        @include respondMax("tablet") {
            width: 70%;
        }
        @include respondMax("mobile") {
            width: 90%;
        }
        input {
            border: 2px solid $col-white;
            background-color: transparent;
            border-radius: 20px;
            color: $col-white;
            outline: none;
            height: 40px;
            width: 80%;
            padding: 0 10px;
            
            &::placeholder {
                color: $col-white;
            }
        }
        &_btn {
            padding: 5px 8px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    }
   
}